$primary: #53B6DA;
$border-radius: 40px;
$secondary: #333333;
$background-color: #F4FAFF;
$headings-color: $secondary;
$btn-padding-y: 11px;
$btn-padding-x: 25px;

$footer-bg-color: #233A55;
$footer-link-color: #50657E;