---
logo: images/logo_light_text.png
logoAlt: Footer Logo Image
productsTitle: PRODUCT
productsLinks:
  - name: Home
    url: /
  - name: Solution
    url: "#"
  - name: Resources
    url: "#"
  - name: Pricing
    url: "#"
helpTitle: HELP
helpLinks:
  - name: FAQ
    url: "#"
  - name: Support
    url: "#"
  - name: Contact
    url: "#"
  - name: Lorem
    url: "#"
contactTitle: Contact Us
emailLabel: Work Email
emailPlaceholder: Work Email
messageLabel: Your message
messagePlaceholder: Your message
buttonText: Contact Sales
copyright: © All rights reserved 2023
---
