{{ partial "header.html" . }}
{{ partial "nav.html" . }}
<section class="hero-section">
    <div class="hero-wrap text-center">
        <h1>
            <span class="text-primary">{{ .Params.hero.primaryText }}</span> <br>
            {{ .Params.hero.secondaryText }}
        </h1>
        <p>{{ .Params.hero.paragraphText }}</p>
        <div class="d-flex flex-column flex-sm-row justify-content-center">
            <a href="{{ .Params.hero.link1 }}" class="btn btn-primary">
                {{ .Params.hero.buttonText1 }}
                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path id="arrow_forward_2"
                          d="M12.0001 19.6155L10.9309 18.5616L16.7425 12.7501H4.38477V11.2501H16.7425L10.9309 5.43859L12.0001 4.38477L19.6155 12.0001L12.0001 19.6155Z"/>
                </svg>
            </a>
            <a href="{{ .Params.hero.link2 }}" class="btn btn-primary">
                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path id="arrow_forward_2"
                          d="M12.0001 19.6155L10.9309 18.5616L16.7425 12.7501H4.38477V11.2501H16.7425L10.9309 5.43859L12.0001 4.38477L19.6155 12.0001L12.0001 19.6155Z"/>
                </svg>
                {{ .Params.hero.buttonText2 }}
            </a>
        </div>
    </div>
</section>

<section class="video-section">
    <div class="container">
        <iframe src="{{ .Params.video.videoLink }}" title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
    </div>
</section>

<section class="software-selection">
    <div class="container">
        <div class="section-title text-center">
            <h2>{{ .Params.softwareSelection.sectionTitle.mainTitle }}</h2>
            <h5 class="text-primary">{{ .Params.softwareSelection.sectionTitle.subTitle }}</h5>
            <p class="mb-0">{{ .Params.softwareSelection.sectionTitle.description }}</p>
        </div>

        <div class="row boxes-wrap">
            {{ range $index, $box := .Params.softwareSelection.boxes }}
            <div class="col-12 col-lg-4">
                <div class="box bg-primary text-center">
                    <img src="{{ $box.image | relURL }}" alt="{{ $box.altText }}" loading="lazy"/>
                    <h6 class="text-light">{{ $box.title }}</h6>
                    <p class="text-light">{{ $box.description }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>

    <div class="background-wrap-left">
        <div class="section-title text-center">
            <h2>{{ .Params.softwareSelection.sectionTitle }}</h2>
            <h5 class="box-white text-primary bg-white">{{ .Params.softwareSelection.subtitle }}</h5>
            <img src="{{ .Params.softwareSelection.image | relURL }}" alt="{{ .Params.softwareSelection.imageAlt }}"
                 loading="lazy"/>
        </div>
    </div>
    <div class="container">
        <div class="steps-subsection">
            <div class="d-flex flex-column flex-lg-row">
                {{ range .Params.softwareSelection.steps }}
                <div class="d-flex align-items-center mb-3 mb-lg-0">
                    <div class="number-icon {{ if eq .number '1' }}first-number-icon{{ else if eq .number '2' }}second-number-icon{{ else if eq .number '3' }}third-number-icon{{ else if eq .number '4' }}fourth-number-icon{{ end }}">
                        <span>{{ .number }}</span>
                    </div>
                    <div class="number-text">{{ .title }}</div>
                    {{ if .duration }}
                    <div class="number-months text-primary">{{ .duration }}</div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <div class="track-wrap">
                <img src="{{ .Params.softwareSelection.steps.image | relURL }}"
                     alt="{{ .Params.softwareSelection.steps.imageAlt }}" loading="lazy"/>
            </div>
            <div class="row flex-column flex-lg-row">
                <div class="row flex-column flex-lg-row">
                    {{ range .Params.softwareSelection.steps }}
                    <div class="col-lg-3">
                        <h6 class="custom-heading">{{ .content 0 }}</h6>
                        <ul>
                            {{ range (slice .content 1) }}
                            <li>{{ . }}</li>
                            {{ end }}
                        </ul>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
        <img src="{{ .Params.softwareSelection.steps.circleImage | relURL }}"
             alt="{{ .Params.softwareSelection.steps.circleImageAlt }}" class="decoration-img" loading="lazy"/>
    </div>
    <div class="background-wrap-right">
        <div class="section-title text-center">
            <h5 class="box-white text-primary bg-white">{{ .Params.softwareSelections.secondTitleSection.title }}</h5>
            <div class="solution-box d-flex flex-column align-items-center">
            <span class="text-center text-primary">
                ~3 weeks time
            </span>
                <img src="{{ .Params.softwareSelection.secondTitleSection.smallRangeImage | relURL }}"
                     alt="{{ .Params.softwareSelection.secondTitleSection.smallRangeImageAlt }}" loading="lazy"/>
                <img src="{{ .Params.softwareSelection.secondTitleSection.images.solutionDiagramImage | relURL }}"
                     alt="{{ .Params.softwareSelection.secondTitleSection.images.solutionDiagramImageAlt }}"
                     loading="lazy"/>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="approach-build-subsection">
            <h3 class="text-center">{{ .Params.softwareSelection.approachBuild.title }}</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="content">
                        <img src="{{ .Params.softwareSelection.approachBuild.icon1.src }}"
                             alt="{{ .Params.softwareSelection.approachBuild.icon1.alt }}" loading="lazy" class="icon">
                        <h4>{{ .Params.softwareSelection.approachBuild.icon1.title }}</h4>
                        <p class="text-center">{{ .Params.softwareSelection.approachBuild.icon1.description }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content">
                        <img src="{{ .Params.softwareSelection.approachBuild.icon2.src }}"
                             alt="{{ .Params.softwareSelection.approachBuild.icon2.alt }}" loading="lazy" class="icon">
                        <h4>{{ .Params.softwareSelection.approachBuild.icon2.title }}</h4>
                        <p class="text-center">{{ .Params.softwareSelection.approachBuild.icon2.description }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content">
                        <img src="{{ .Params.softwareSelection.approachBuild.icon3.src }}"
                             alt="{{ .Params.softwareSelection.approachBuild.icon3.alt }}" loading="lazy" class="icon">
                        <h4>{{ .Params.softwareSelection.approachBuild.icon3.title }}</h4>
                        <p class="text-center">{{ .Params.softwareSelection.approachBuild.icon3.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="timeline-section">
    {{ range .Params.timelineSection }}
    <div class="container-timeline {{ if .reverse }}reverse{{ end }}">
        <div class="content content-left">
            <small>{{ .smallText }}</small>
            <h3><span class="text-primary">{{ .heading }}</span></h3>
            <ul>
                {{ range .list }}
                <li>{{ . }}</li>
                {{ end }}
            </ul>
        </div>
        <div class="{{ if .reverse }}image-right{{ else }}image-left{{ end }}">
            <img src="{{ .image | relURL }}" alt="{{ .alt }}">
        </div>
        <span class="timeline-number">{{ .number }}</span>
    </div>
    {{ end }}
</section>

<section class="approach-section">
    <div class="bg-light-blue">
        <h2>{{ .Params.approachSection.sectionTitle }}</h2>
        <h3>{{ .Params.approachSection.sectionSubtitle }}</h3>
        <div class="container">
            <div class="row boxes-wrap">
                {{ range .Params.approachSection.boxes }}
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="box bg-primary">
                        <div class="content">
                            <img src="{{ .image | relURL }}" alt="Approach icon"/>
                            <div class="text">
                                <p class="text-light">{{ .text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="bg-primary second-approach-subsection">
        <div class="container">
            <div class="row boxes-wrap">
                {{ range .Params.approachSection.secondBoxes }}
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="box">
                        <div class="content">
                            <img src="{{ .image | relURL }}" alt="Approach icon"/>
                            <div class="text">
                                <p>{{ .text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>

<section class="pricing-section">
    <div class="container">
        <h2>{{ .Params.pricingSection.sectionTitle }}</h2>
        <div class="row pricing-boxes">
            {{ range .Params.pricingSection.pricingBoxes }}
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="pricing-box {{ .color }}">
                    <div class="top-rectangle"></div>
                    <h3 class="pricing-title">{{ .title }}</h3>
                    <div class="same-height">
                        <ul class="pricing-list">
                            {{ range .items }}
                            <li>{{ .item }}</li>
                            {{ end }}
                        </ul>
                        {{ if .additionalText }}
                        <span class="additional-span">{{ .additionalText }}</span>
                        {{ end }}
                    </div>
                    <a href="#" class="btn btn-primary">
                        {{ .buttonText }}
                        <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path id="arrow_forward_2"
                                  d="M12.0001 19.6155L10.9309 18.5616L16.7425 12.7501H4.38477V11.2501H16.7425L10.9309 5.43859L12.0001 4.38477L19.6155 12.0001L12.0001 19.6155Z"/>
                        </svg>
                    </a>
                    <hr class="pricing-line">
                    <p class="plan-details">{{ .planDetails }}</p>
                    <ul class="plan-includes">
                        {{ range .planIncludes }}
                        <li>{{ .includeItem }}</li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

<section class="for-who-section">
    <div class="container">
        <h2>{{ .Params.forWhoSection.sectionTitle }}</h2>
        <div class="row">
            {{ range .Params.forWhoSection.columns }}
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                <div class="column">
                    <img src="{{ .icon | relURL }}" alt="Icon" class="icon">
                    <h3>{{ .title }}</h3>
                    <p class="text-center">{{ .description }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

<section class="customer-reviews">
    <div class="container">
        <h2>{{ .Params.customerReviewsSection.sectionTitle }}</h2>
        <div id="customerReviews" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {{ range $index, $review := .Params.customerReviewsSection.reviews }}
                <button type="button" data-bs-target="#customerReviews" data-bs-slide-to="{{ $index }}"
                        {{ if eq $index 0 }}class="active" {{ end }}></button>
                {{ end }}
            </div>
            <div class="carousel-inner">
                {{ range $index, $review := .Params.customerReviewsSection.reviews }}
                <div class="carousel-item {{ if eq $index 0 }}active{{ end }}">
                    <p>{{ $review.text }}</p>
                    <div class="carousel-footer">
                            <span class="customer-name">
                                {{ $review.name }}
                            </span>
                        <span class="customer-position">
                                {{ $review.position }}
                            </span>
                    </div>
                </div>
                {{ end }}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#customerReviews"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#customerReviews"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</section>

<section class="faq-section">
    <div class="container">
        <h2>{{ .Params.faqSection.sectionTitle }}</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="accordion" id="faq_1">
                    {{ range $index, $item := .Params.faqSection.accordion1 }}
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ $index }}" aria-expanded="false"
                                    aria-controls="collapse{{ $index }}">
                                {{ $item.question }}
                            </button>
                        </h3>
                        <div id="collapse{{ $index }}" class="accordion-collapse collapse" data-bs-parent="#faq_1">
                            <div class="accordion-body">
                                <strong>{{ $item.answer }}</strong> It is shown by default, until the collapse plugin
                                adds
                                the appropriate classes that we use to style each element. These classes control the
                                overall
                                appearance, as well as the showing and hiding via CSS transitions. You can modify any of
                                this
                                with custom CSS or overriding our default variables. It's also worth noting that just
                                about
                                any HTML can go within the <code>.accordion-body</code>, though the transition does
                                limit overflow.
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>

            <div class="col-lg-6">
                <div class="accordion" id="faq_2">
                    {{ range $index, $item := .Params.faqSection.accordion2 }}
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faqCollapse{{ $index }}" aria-expanded="false"
                                    aria-controls="faqCollapse{{ $index }}">
                                {{ $item.question }}
                            </button>
                        </h3>
                        <div id="faqCollapse{{ $index }}" class="accordion-collapse collapse" data-bs-parent="#faq_2">
                            <div class="accordion-body">
                                <strong>{{ $item.answer }}</strong> It is shown by default, until the collapse plugin
                                adds
                                the appropriate classes that we use to style each element. These classes control the
                                overall
                                appearance, as well as the showing and hiding via CSS transitions. You can modify any of
                                this
                                with custom CSS or overriding our default variables. It's also worth noting that just
                                about
                                any HTML can go within the <code>.accordion-body</code>, though the transition does
                                limit overflow.
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-section">
    <div class="container">
        <div class="contact-wrap">
            <h2>{{ .Params.contactSection.sectionTitle }}</h2>
            <a href="{{ .Params.contactSection.buttonLink }}" class="btn btn-primary">
                {{ .Params.contactSection.buttonText }}
                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path id="arrow_forward_2"
                          d="M12.0001 19.6155L10.9309 18.5616L16.7425 12.7501H4.38477V11.2501H16.7425L10.9309 5.43859L12.0001 4.38477L19.6155 12.0001L12.0001 19.6155Z"/>
                </svg>
            </a>
        </div>
    </div>
</section>


{{ partial "footer.html" . }}
